<tui-root>
  <div class="flex h-screen">
    <!-- Sidebar -->
    <nav class="w-64 bg-gray-100 flex-shrink-0">
      <div class="p-4 text-lg font-bold">Hotel Management System</div>
      <ul class="p-4 space-y-4">
        @for (item of routes(); track $index) {
        <li>
          <a
            routerLink="'item.link'"
            routerLinkActive="bg-gray-200"
            class="block p-2 rounded hover:bg-gray-200"
          >
            <tui-icon icon="@tui.layout-dashboard"></tui-icon>

            {{ item.title }}
          </a>
        </li>
        }
      </ul>
    </nav>

    <!-- Main Content -->
    <main class="flex-1 bg-gray-100 p-6 overflow-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</tui-root>
