<!-- Title -->
<app-title
  [title]="'Rooms Management'"
  [actionTitle]="'Add Room'"
  routerLink="/rooms/new-room"
  [showAction]="true"
/>

<!-- Rooms List -->
<div tuiCardMedium tuiAppearance="neutral" class="mb-4">
  <div tuiHeader>
    <h1 tuiTitle>
      {{ totalRecords || 0 }}
      <span tuiSubtitle>Rooms</span>
    </h1>
  </div>
</div>

<!-- Pagination Controls -->
<div class="flex items-center justify-between mb-4">
  <div>
    <span class="tui-text_body-m">Items per page:</span>
    <select
      tuiSelect
      [ngModel]="pageSize"
      (ngModelChange)="onLimitChange($event)"
    >
      @for (option of pageSizeOptions; track option) {
      <option [value]="option">{{ option }}</option>
      }
    </select>
  </div>
  <div>
    <span class="tui-text_body-m">
      Page {{ currentPage + 1 }} of
      {{ totalPages || 1 }}
    </span>
  </div>
</div>

@if (isLoading) {
<tui-loader [showLoader]="true"></tui-loader>
} @else if (hasError) {
<p class="tui-text_h1">Opss!</p>
<p class="tui-text_body-xl">{{ errorMesage }}</p>
} @else {
<table tuiTable [size]="'m'" class="w-full">
  <thead>
    <tr>
      <th tuiTh></th>
      <th tuiTh>Room Number</th>
      <th tuiTh>Capacity</th>
      <th tuiTh>Title</th>
      <th tuiTh>Updated At</th>
      <th tuiTh>Created At</th>
      <th tuiTh>Actions</th>
    </tr>
  </thead>

  <tbody tuiTbody>
    @for (room of (rooms || []); track $index) {
    <tr>
      <td tuiTd>
        <span tuiTitle>
          {{ $index + 1 + currentPage * pageSize }}
        </span>
      </td>
      <td tuiTd>
        <span tuiTitle>{{ room.room_number }}</span>
      </td>
      <td tuiTd>
        <span tuiTitle>{{ room.capacity }}</span>
      </td>
      <td tuiTd>
        <span tuiTitle>{{ room.name }}</span>
      </td>
      <td tuiTd>
        <span tuiTitle>{{ room.updated_at }}</span>
      </td>
      <td tuiTd>
        <span tuiTitle>{{ room.created_at }}</span>
      </td>
      <td tuiTd>
        <span tuiStatus>
          <button
            appearance="outline"
            tuiButton
            type="button"
            [routerLink]="['/rooms', room.id]"
          >
            Details
          </button>
        </span>
      </td>
    </tr>
    }
  </tbody>
  <tfoot>
    <tr class="bg-white pt-4">
      <td colspan="7">
        @if (totalPages) {
        <tui-pagination
          [length]="totalPages"
          [(index)]="currentPage"
          (indexChange)="onPageChange($event)"
        ></tui-pagination>
        }
      </td>
    </tr>
  </tfoot>
</table>
}
