<app-title [title]="'Guest: ' + guest?.name" actionTitle="'Edit'" />

<!-- Tabs -->
<tui-tabs [(activeItemIndex)]="activeItemIndex" class="mb-4">
  @for (item of tabs(); track $index) {
  <button
    [iconStart]="'@tui.' + item.icon"
    tuiTab
    type="button"
    (click)="onClick(item.title)"
  >
    {{ item.title }}
  </button>
  }
</tui-tabs>

<!-- Tab Content -->
@if (activeItemIndex === 0) {
<!-- Guest Details Tab -->
<div tuiAppearance="floating" tuiCardLarge class="my-8">
  <header tuiHeader>
    <h2 tuiTitle>
      Guest Details
      <span tuiSubtitle>View or edit guest information</span>
    </h2>
  </header>

  <form [formGroup]="guestForm" tuiForm="m" (ngSubmit)="onSubmit()">
    <tui-textfield>
      <label tuiLabel>Full Name</label>
      <input formControlName="name" tuiTextfield placeholder="Guest Name" />
    </tui-textfield>
    <tui-error
      formControlName="name"
      [error]="[] | tuiFieldError | async"
      class="mb-4"
    ></tui-error>

    <tui-textfield>
      <label tuiLabel>Email</label>
      <input
        formControlName="email"
        tuiTextfield
        placeholder="guest@example.com"
      />
    </tui-textfield>
    <tui-error
      formControlName="email"
      [error]="[] | tuiFieldError | async"
      class="mb-4"
    ></tui-error>

    <tui-textfield>
      <label tuiLabel>Phone</label>
      <input formControlName="phone" tuiTextfield placeholder="1234567890" />
    </tui-textfield>
    <tui-error
      formControlName="phone"
      [error]="[] | tuiFieldError | async"
      class="mb-4"
    ></tui-error>

    @if (!isEditing) {
    <footer class="flex justify-end m-8">
      <button tuiButton appearance="danger" type="button" (click)="onDelete()">
        Delete
      </button>
      <button tuiButton appearance="primary" type="button" (click)="onEdit()">
        Edit
      </button>
    </footer>
    } @else {
    <footer class="flex justify-end m-8">
      <button
        tuiButton
        appearance="secondary"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button tuiButton type="submit" [disabled]="guestForm.invalid">
        Save
      </button>
    </footer>
    }
  </form>
</div>

<!-- Current Reservations Tab -->
<div tuiAppearance="floating" tuiCardLarge class="my-8">
  <header tuiHeader>
    <h2 tuiTitle>Current Reservations</h2>
  </header>
  <div class="content">
    @if (currentReservations.length > 0) { @for (reservation of
    currentReservations; track $index) {
    <div class="reservation-item">
      <p>Reservation ID: {{ reservation.id }}</p>
    </div>
    <hr />
    } } @else {
    <p>No current reservations available.</p>
    }
  </div>
</div>

<!-- Upcoming Reservations Tab -->
<div tuiAppearance="floating" tuiCardLarge class="my-8">
  <header tuiHeader>
    <h2 tuiTitle>
      Upcoming Reservations
      <span tuiSubtitle
        >Total upcoming reservations is: {{ upcomingReservations.length }}</span
      >
    </h2>
  </header>
  <div class="content">
    @if (upcomingReservations.length > 0) { @for (reservation of
    upcomingReservations; track $index) {
    <div class="reservation-item">
      <p>Reservation ID: {{ reservation.id }}</p>
    </div>
    <hr />
    } } @else {
    <p>No upcoming reservations available.</p>
    }
  </div>
</div>
} @if (activeItemIndex === 1) {
<!-- Past Reservations Tab -->
<div tuiAppearance="floating" tuiCardLarge class="my-8">
  <header tuiHeader>
    <h2 tuiTitle>
      Past Reservations
      <span tuiSubtitle
        >Total past reservations is: {{ pastReservations.length }}</span
      >
    </h2>
  </header>
  <div class="content">
    @if (pastReservations.length > 0) { @for (reservation of pastReservations;
    track $index) {
    <div class="reservation-item">
      <p>Reservation ID: {{ reservation.id }}</p>
    </div>
    <hr />
    } } @else {
    <p>No past reservations available.</p>
    }
  </div>
</div>
}
