<app-title [title]="'Room ' + roomId" actionTitle="'Edit'" />
<!-- Tabs -->
<tui-tabs [(activeItemIndex)]="activeItemIndex" class="mb-4">
  @for (item of tabs(); track $index) {
  <button
    [iconStart]="'@tui.' + item.icon"
    tuiTab
    type="button"
    (click)="onClick('Maps')"
  >
    {{ item.title }}
  </button>
  }
</tui-tabs>
<!-- Tab Content -->
<!-- {{ activeItemIndex }} -->
@if (activeItemIndex === 0) {
<h1>Room Info</h1>
<h1>General Insights</h1>
<h1>Current Reservation</h1>
<h1>Upcomming Reservations</h1>

} @else {
<h1>Past Reservations</h1>
}
