<app-title [title]="'Room ' + room?.room_number" actionTitle="'Edit'" />
<!-- Tabs -->
<tui-tabs [(activeItemIndex)]="activeItemIndex" class="mb-4">
  @for (item of tabs(); track $index) {
  <button
    [iconStart]="'@tui.' + item.icon"
    tuiTab
    type="button"
    (click)="onClick('Maps')"
  >
    {{ item.title }}
  </button>
  }
</tui-tabs>
<!-- Tab Content -->
<!-- {{ activeItemIndex }} -->
@if (activeItemIndex === 0) {
<div tuiAppearance="floating" tuiCardLarge class="my-8">
  <header tuiHeader>
    <h2 tuiTitle>
      Room Details
      <span tuiSubtitle>View or edit room information</span>
    </h2>
  </header>

  <form [formGroup]="roomForm" tuiForm="m" (ngSubmit)="onSubmit()">
    <tui-textfield>
      <label tuiLabel>Room Number</label>
      <input formControlName="number" tuiTextfield placeholder="101" />
    </tui-textfield>
    <tui-error
      formControlName="number"
      [error]="[] | tuiFieldError | async"
      class="mb-4"
    ></tui-error>

    <tui-textfield>
      <label tuiLabel>Room Name</label>
      <input
        formControlName="name"
        tuiTextfield
        placeholder="Conference Room"
      />
    </tui-textfield>
    <tui-error
      formControlName="name"
      [error]="[] | tuiFieldError | async"
      class="mb-4"
    ></tui-error>

    <tui-textfield>
      <label tuiLabel>Capacity</label>
      <input formControlName="capacity" tuiTextfield placeholder="50" />
    </tui-textfield>
    <tui-error
      formControlName="capacity"
      [error]="[] | tuiFieldError | async"
      class="mb-4"
    ></tui-error>
    @if (!isEditing) {
    <footer class="flex justify-end m-8">
      <button tuiButton appearance="danger" type="button" (click)="onDelete()">
        Delete
      </button>
      <button tuiButton appearance="primary" type="button" (click)="onEdit()">
        Edit
      </button>
    </footer>
    }@else {
    <footer class="flex justify-end m-8">
      <button
        tuiButton
        appearance="secondary"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button tuiButton type="submit" [disabled]="roomForm.invalid">
        Save
      </button>
    </footer>
    }
  </form>
</div>

<div tuiAppearance="floating" tuiCardLarge class="my-8">
  <header tuiHeader>
    <h2 tuiTitle>Current Reservation</h2>
  </header>
</div>

<div tuiAppearance="floating" tuiCardLarge class="my-8">
  <header tuiHeader>
    <h2 tuiTitle>
      Upcomming Reservations
      <span tuiSubtitle>Total upcomming reservations is: </span>
    </h2>
  </header>
</div>

} @else {
<h1>Past Reservations</h1>
}
